
<script src="order-detail.component.ts"></script>
<div class = "form-horizontal order-detail-dialog">
  <mat-dialog-content [formGroup]="form">
    <h2>Детали заказа #{{order.id}}</h2>

    <div class="container-fluid">
      <div class = "row">
        <div class = "col-xs-3 col-sm-3 col-md-2 col-lg-2">
          <label for = "cboClients">
            Дата:
          </label>
        </div>

        <div class = "col-xs-9 col-sm-9 col-md-6 col-lg-6">
          <p-calendar id = "txtDate"
                      #txtDate="ngModel"
                      [(ngModel)]="order.date"
                      [ngModelOptions]="{standalone: true}"
                      showTime="true"
                      hourFormat="24"
                      required>
          </p-calendar>
        </div>
      </div>

      <div class = "row">
        <div class = "col-xs-3 col-sm-3 col-md-2 col-lg-2">
          <label for = "cboClients">
            Клиент:
          </label>
        </div>

        <div class = "col-xs-9 col-sm-9 col-md-6 col-lg-6">
          <p-dropdown id = "cboClients"
                      appendTo="body"
                      [options]="clientCboSource"
                      [style]="{'width':'100%'}"
                      [(ngModel)]="editableClient"
                      [ngModelOptions]="{standalone: true}">
          </p-dropdown>
        </div>
      </div>

      <div class = "row">
        <div class = "col-xs-3 col-sm-3 col-md-2 col-lg-2">
          <label for = "cmdOrderLines">
            Товары ({{editableOrderLines.length }}):
          </label>
        </div>

        <div class = "col-xs-9 col-sm-9 col-md-10 col-lg-10">
          <p-table [value]="editableOrderLines" columnResizeMode="expand"
                   [frozenColumns]="goods"
                   frozenWidth="400px"
                   dataKey="id" editMode="row">
            <ng-template pTemplate="header">
              <tr>
                <th [ngStyle]="{'width':'11%'}">№п/п</th>
                <th>Товар</th>
                <th [ngStyle]="{'width':'25%'}">Количество</th>
                <th [ngStyle]="{'width':'11%'}"></th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-editing="true" let-ri="rowIndex">
              <tr [pEditableRow]="rowData">

                <td>
                  {{rowData.rownum}}
                </td>

                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown id = "txtGoods"
                                  #txtGoods="ngModel"
                                  [options]="goodsCboSource"
                                  appendTo="body"
                                  [(ngModel)]="rowData.goods"
                                  [ngModelOptions]="{standalone: true}"
                                  required
                                  [style]="{'width':'100%'}">
                      </p-dropdown>
                    </ng-template>

                    <ng-template pTemplate="output">
                      {{rowData.goods?.name}}
                    </ng-template>
                  </p-cellEditor>
                </td>

                <td pEditableColumn class ="text-right">
                  <p-cellEditor>
                    <ng-template pTemplate="input" >
                      <input id = "txtCount"
                             #txtCount="ngModel"
                             [(ngModel)]="rowData.count"
                             [ngModelOptions]="{standalone: true}"
                             pInputText type="text"
                             (input)="setRowErrors(rowData.rownum, !!txtCount.errors)"
                             placeholder="(до 4 зн. после запятой)"
                             required minlength="1"
                             pattern="\d*\.?\d*">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData.count}}
                    </ng-template>
                  </p-cellEditor>
                </td>

                <td class ="text-center">
                  <button type="button"
                          id = "cmdDeleteRow"
                          pButton (click)="deleteLine(rowData.rownum)"
                          icon="pi pi-times"
                          class="ui-button-danger"
                          title="Удалить строку"></button>
                </td>

              </tr>
            </ng-template>
          </p-table>

        </div>
      </div>

      <div class = "row" [style]="{'margin-top': '10px'}">
        <div class = "col-xs-3 col-sm-3 col-md-2 col-lg-2">
        </div>

        <div class = "col-xs-6 col-sm-4 col-md-3 col-lg-3">

          <button pButton  id = "cmdOrderLines"
                  label="Добавить строку" type="button"
                  class="ui-button-raised"
                  (click)="addLine()">
          </button>

        </div>
      </div>

      <div class = "row">
        <div class = "col">
          <label for = "cmdOrderLines">
            Сумма заказа: ${{getOrderTotalSum(editableOrderLines)}}
          </label>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="container-fluid">

      <div class = "row">
        <div class = "col"
             *ngIf="isValidateRow && isRowErrors()"
             style="color: #cb1400; font-size: 90%;">
          <label for = "cmdSave">
            {{lineError}}
          </label>
        </div>
      </div>

      <div class = "row">
            <div class = "col col-sm-4 col-md-3 col-lg-3">
              <button pButton  id = "cmdSave"
                      label="Сохранить" type="button"
                      class="ui-button-raised"
                      (click)="!txtDate.errors && setRowValidationEnabled() && !isRowErrors() && save()">

              </button>
            </div>
            <div class = "col col-sm-4 col-md-3 col-lg-3">
              <button pButton id = "cmdCancel"
                      label="Закрыть" type="button"
                      class="ui-button-secondary"
                      (click)="close()">

              </button>
            </div>
      </div>
    </div>
  </mat-dialog-actions>
</div>
